body{
    font-family: 'poppins', sans-serif;
}
.banner{
    background-image: url(../images/Untitled-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
}

.skills-padding{
    padding: 70px 0;
}